.node {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #bfbfbf;
  background-color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.node-filler {
  background-color: green;
  width: 28px;
  height: 28px;
  padding: 0px 2px 2px 2px;
}

.icon-light {
  color: #ffffff;
}
